.titleNamePage {
    color: rgb(114, 151, 169);
    font-weight: bold;
    font-style: normal;
    background-color: rgb(24, 25, 47);
    text-align: center;
    font-size: 50px;
    padding: 1%;
    cursor: wait;
    align-items: center;
    display: flex;
    justify-content: space-around;

}


.nav {
    color: aliceblue;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;

    margin: 1rem;

}

.span-Story {
    font-size: 30px;
}

.section-content {
    padding-left: 30%;
}

.box-content {
    background-color: rgb(90, 157, 168);
    padding-left: revert;
    width: auto;
    padding: 2%;
    padding-bottom: 3%;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 0%;
}

.container {
    background-color: rgb(14, 79, 112);
}

.image-1 {
    width: 15rem;
}

.image-2 {
    width: 15rem;
}

.box-question {
    background-color: rgb(147, 226, 240);
    text-align: center;
    font-size: 23px;
    font-style: normal;
    padding: 2%;
    height: auto;
    border-radius: 25px;
    align-content: flex-end;
    padding-left: 5%;
    padding-right: 5%;
}

.start-ques {
    font-weight: bold;
    font-size: 31px;
    display: inline-block;
    width: 700px;
}

.question {
    text-decoration: underline;
    font-size: 30px;
}

.content-qes {
    font-size: 28px;
}

.answer {
    text-align: left;
    display: inline-block;
    padding: 1.5%;
}

.never {
    cursor: pointer;

}

.rarely {
    cursor: pointer;
}

.sometime {
    cursor: pointer;
}

.often {
    cursor: pointer;
}

.alway {
    cursor: pointer;
}

.hero-section2 {
    justify-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-decoration: underline;
}

.eyes-5 {
    display: flex;
    gap: 10px;
}

.eyes-5:before,
.eyes-5:after {
    content: "";
    height: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, #000 95%, #0000) 35% 35%/6px 6px no-repeat #fff;
    animation: e5 3s infinite;
}

@keyframes e5 {

    0%,
    11% {
        background-position: 35% 35%
    }

    14%,
    36% {
        background-position: 65% 35%
    }

    38%,
    61% {
        background-position: 65% 65%
    }

    64%,
    86% {
        background-position: 35% 65%
    }

    88%,
    100% {
        background-position: 35% 35%
    }
}