.titleNamePage {
    color: rgb(114, 151, 169);
    font-weight: bold;
    font-style: normal;
    background-color: rgb(24, 25, 47);
    text-align: center;
    font-size: 50px;
    padding: 1%;
    cursor: wait;
}


.nav {
    color: aliceblue;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    margin: 1rem;

}

.box-content {
    background-color: rgb(90, 157, 168);
    padding: 3%;
    padding-bottom: 7%;
}

.container {
    background-color: rgb(14, 79, 112);
}

.first-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;

}

.first-side {
    background-color: rgb(147, 226, 240);
    padding: 1.5%;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    width: 150px;
    text-align: center;
    cursor: pointer;

}

.first-side__mid {
    width: 190px;
    font-size: 23px;
    font-weight: normal;
}

.second-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    text-align: center;
    gap: 2rem;

}

.second-side {
    background-color: rgb(147, 226, 240);
    padding: 1.5%;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
}

.third-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.5%;
    text-align: center;
}

.third-side__mid {
    background-color: rgb(147, 226, 240);
    padding: 1.5%;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    width: 150px;
    cursor: pointer;

}